
/* general css */
body{
    font-family: Arial;
    height: 1000px;
    padding-top: 90px;
}

p{
    margin: 0;
}


/* main item container css */
.main-container{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px 200px;
    column-gap: 10px;
    row-gap: 10px;
}

.item-name{
    height: 80px;
    margin-left: 5px;
    pointer-events: none;
}

.item-price{
    margin-bottom: 8px;
    margin-left: 5px;
    pointer-events: none;
}

.item-image{
    width: 198px;
    height: 200px;
    object-fit: cover;
}

.item-container{
    border: 1px solid black;
    
}

.item-container:hover{
    box-shadow: 0px 10px 20px 1px rgba(0,0,0,0.30);

}

.add-to-cart-container{
    display: grid;
    justify-content: center;
}

.add-to-cart-button{
    margin: 8px;
    padding: 8px 20px;
    font-size: 14px;
    border: none;
    background-color: rgb(244, 130, 89);
    color: white;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 1s;
}

.add-to-cart-button:hover{
    background-color: rgb(255, 199, 131);
    color: black;
}

.item-quantity-picker-container{
    margin-left: 5px;
}
.item-quantity-picker-container p{
    display: inline-block;
}

/* header */
.header{
    background-color: rgb(255, 124, 77);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title-company {
    font-size: 20px;
    margin-left: 5px;
}

.left-header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 12px;
}

.logo-header{
    height: 70px;
    background-color: rgb(255, 199, 131);
    border-radius: 35px;
}

.middle-header{
    display: flex;
    align-items: center;
}

.input-header{
    font-size: 15px;
    height: 40px;
    width: 500px;
    padding-left: 12px;
    border-radius: 20px;
    border: 1px solid rgb(184, 184, 184);
}

.right-header{
    display: flex;
    align-items: center;
    padding-right: 20px;
    
}

.cart-header{
    height: 60px;
    padding: 7px 8px 5px 5px;
    cursor: pointer;
    transition: background-color 1s;
}

.cart-container{
    position: relative;
}

.cart-header:hover{
    background-color: rgb(251, 99, 44);
    border-radius: 5px;
}
.cart-count{
    left: 31px;
    top: 5px;
}
.cart-count-container{
    position: absolute;
    left: 0;
    top: 5px;
    right: 0;
    display: grid;
    justify-content: center;
}

.cart-count{
    pointer-events: none;
    columns: black;
}